.stApp {
    background: linear-gradient(135deg, gray,  #4CAF50, #d9ead3);
    color: #333;
    animation: fadeIn 1s ease-in-out;
}

h1 {
    color: #4CAF50;
    text-shadow: 2px 2px 4px #b3e5b3;
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #4CAF50;
}

div.stButton > button {
    background-color: #4CAF50;
    color: black;
    transition: all 0.2s ease-in-out;
}

div.stButton > button:hover {
    background-color: #66BB6A;
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.stTextInput > div > div > input {
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 10px;
}

[data-testid="stAlert"] {
    border-left: 5px solid;
    border-radius: 5px;
}
[data-testid="stAlert"].success {
    border-color: #4CAF50;
}
[data-testid="stAlert"].error {
    border-color: #E57373;
}
[data-testid="stAlert"].warning {
    border-color: #FFB74D;
}


[data-testid="stAlert"].info {
    border: 3px solid #007bff;
    background-color: black;
    color: #004085;
    font-weight: 500;
    box-shadow: 0 4px 12px rgba(0, 123, 255, 0.2);
    padding: 15px;
    margin-top: 10px;
}

.stTabs [data-baseweb="tab-list"] button {
    color: white;
    border-radius: 5px;
    margin: 5px;
    font-weight: bold;
    transition: background-color 0.2s;
}

.stTabs [data-baseweb="tab-list"] button:hover {
    background-color: #d1e7d5;
}

[data-testid="stSidebar"] {
    background-color: #f7fff7;
    border-right: 3px solid #4CAF50;
}

.status-indicator {
    font-size: 1.5em;
    font-weight: 900;
    padding: 10px 15px;
    border-radius: 8px;
    text-align: center;
    margin: 10px 0;
    display: inline-block;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    letter-spacing: 1.5px;
}

.status-halal {
    background-color: #1d821d;
    color: white;
    border: 3px solid #66BB6A;
}

.status-haram {
    background-color: #a31c1c;
    color: white;
    border: 3px solid #E57373;
}

.status-musbooh {
    background-color: #cc8400;
    color: white;
    border: 3px solid #FFB74D;
}

.status-unknown {
    background-color: #5d5d5d;
    color: white;
    border: 3px solid #9e9e9e;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}